<h1>Hello 246</h1>
<a href="/new">Ajouter un restaurant</a>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <a href="/restaurant/<%= restaurant.id %>"><%= restaurant.name %></a>
    </li>
  <% end %>
</ul>