<form action="/restaurant" method="post">
  <div>
    <label for="name">Enter the name of your restaurant: </label>
    <input type="text" name="name" required>
  </div>
  <div>
    <label for="city">Enter the city of your restaurant: </label>
    <input type="text" name="city" required>
  </div>
  <div>
    <input type="submit" value="Ajouter le restaurant">
  </div>
</form>